/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* GENERAL */

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-bg);
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.site-content {
  flex: 1 0 auto;
}

.site-footer {
  flex-shrink: 0;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* VARIABLES */

:root {
  --color-bg: #2B2A30;
  --color-red: #9d0000;
  --color-green: #00aa51;
}

/* FONTS */

@font-face {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/bebasneue-book-webfont.woff2") format("woff2"),
       url("../fonts/bebasneue-book-webfont.woff") format("woff");
}

